[Unit]
Description = Kodi Media Center startstopctl
After = remote-fs.target network-online.target
Wants = network-online.target

[Service]
User = root
Group = root
Type = idle
ExecStart = /usr/bin/python3 /usr/bin/kodistartstop.py
Restart=always
RestartSec=0

[Install]
WantedBy = multi-user.target
